langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
ipywidgets
streamlit
langchain_groq
langchain_core
langserve
fastapi
transformers
langgraph
langchain-core
langchain_ollama
llama-index-core 
llama-index-embeddings-openai
llama-index-embeddings-ollama
llama-index-llms-openai
llama-index-llms-ollama
